.errorpage-wrap {
    padding: 120px 0 0;
    background-color: #ffa200;
    background-image: url("../img/bg-pattern.png");
    color: #333;
    text-align: center;
}

@media(min-width:768px) {
    .errorpage-wrap {
        text-align: left;
    }
}

.oops {
    font-size: 30px;
    display: block;
    margin: 0 0 3px;
}

@media(min-width:1024) {
    .oops {
        margin: 0 0 60px;
    }
}

.lost {
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
}

.errorpage-wrap h1 {
    margin-top: 55px;
}

@media(min-width:768px) {
    .lost a {
        margin-top: 0;
    }
}

.lost a {
    width: 100%;
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 3px 0 5px;
    margin: 20px 0 0;
    display: block;
    transition: 400ms ease;
}
@media(min-width: 768px){
  .lost a {
    width: 116px;
}
}
.lost a:hover,
.lost a:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
    text-decoration: none;
}
