html {
    overflow-x: hidden;
}

body {
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

h1 {
    margin: 0;
}


/*Start Common*/

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    transition: 400ms ease;
}

p {
    line-height: 22px;
}

.form-control:focus {
    border: 1px solid rgb(218, 218, 218);
    ;
    box-shadow: none;
}

select {
    color: rgb(153, 153, 153) !important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../img/icon/icon-select-dropdown.png") !important;
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

option {
    color: rgb(0, 0, 0);
}

.pattern-bg {
    background-image: url(../img/bg-pattern.png);
    padding: 30px 0;
}

.inner-page-bg-1 {
    background-image: url(../img/inner-page-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 130px 0 30px;
    z-index: 1;
}

@media(min-width:768px) {
    .inner-page-bg-1 {
        padding: 180px 0 30px;
    }
}

@media(min-width:1024px) {
    .inner-page-bg-1 {
        padding: 130px 0 30px;
    }
}

.inner-page-bg-2 {
    background-image: url(../img/inner-page-bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 0 0 30px;
    z-index: 1;
}

.inner-page-banner {
    background-size: cover;
    padding: 130px 0 0;
}

@media(min-width:768px) {
    .inner-page-banner {
        padding: 180px 0 0;
    }
}

@media(min-width:1024px) {
    .inner-page-banner {
        padding: 130px 0 0;
    }
}

.sections-title {
    margin: 0 0 15px;
    text-align: center;
}

.connect-us span {
    margin-right: 10px;
    vertical-align: middle;
}

.facebook,
.twitter,
.youtube,
.instagram,
.pinterest {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0;
    background-color: rgb(200, 200, 200);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    border-radius: 50%;
    vertical-align: middle;
}

.facebook {
    background-image: url(../img/icon/icon-fb.png);
}

.twitter {
    background-image: url(../img/icon/icon-twitter.png);
    vertical-align: middle;
}

.youtube {
    background-image: url(../img/icon/icon-youtube.png);
}

.instagram {
    background-image: url(../img/icon/icon-insta.png);
}

.pinterest {
    background-image: url(../img/icon/icon-pnterest.png);
}

.facebook:hover,
.facebook:focus,
.twitter:hover,
.twitter:focus,
.youtube:hover,
.youtube:focus,
.pinterest:hover,
.pinterest:focus,
.instagram:hover,
.instagram:focus {
    background-color: rgb(255, 162, 0);
}


/*Auto Complete Search*/

.autocomplete-w1 {
    background-color: rgb(243, 243, 243);
    padding: 10px;
}


/*End Common*/


/*START BREADCRUMB*/

.breadcrumb-wrap {
    width: 100%;
    background-color: transparent;
    position: relative;
    display: none;
    z-index: 1;
}

@media(min-width:768px) {
    .breadcrumb-wrap {
        display: block;
    }
}

.breadcrumb {
    background-color: transparent;
    color: rgb(255, 162, 0);
    padding: 10px 0;
    margin: 0;
}

.breadcrumb li a {
    color: rgb(255, 162, 0);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.breadcrumb li a.active {
    color: rgb(119, 119, 119);
    text-transform: uppercase;
}

.breadcrumb > li + li::before {
    color: rgb(255, 162, 0);
    content: "> ";
}


/*END BREADCRUMB*/


/*==============================================================================
====================================Start Header================================
==============================================================================*/

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}


/*Start Common navs*/

.top-header-nav-wrap ul li a {
    color: rgb(255, 162, 0);
    text-transform: uppercase;
}

.top-header-nav-wrap ul li a:hover,
.top-header-nav-wrap ul li a:focus {
    background-color: transparent;
    color: rgb(119, 119, 119);
}

.header-nav-wrap ul li a {
    color: rgb(119, 119, 119);
    text-transform: uppercase;
}

.top-header-nav-wrap ul li a:hover,
.header-nav-wrap ul li a:hover,
.top-header-nav-wrap ul li a:focus,
.header-nav-wrap ul li a:focus {
    background-color: transparent;
    color: rgb(255, 162, 0);
}


/*End Common navs*/

.top-header-nav-wrap {
    height: auto;
    min-height: auto;
    background-color: rgb(17, 17, 17);
    color: rgb(119, 119, 119);
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    border: none;
    border-radius: 0;
}

.header-top-content {
    display: inline-block;
    float: right;
}

.navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width:768px) {
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.top-header-nav-wrap ul li a {
    padding: 0 15px;
}

@media(min-width: 768px){
    .top-header-nav-wrap ul li a {
    padding: 0 15px 0 0;
}
}
@media(min-width: 992px){
    .top-header-nav-wrap ul li a {
    padding: 0 15px;
}
}
.top-header-nav-wrap ul li:first-child a {
    padding-left: 0;
}
.header-nav-wrap {
    background-color: rgb(243, 243, 243);
    padding: 20px 0;
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    transition: 300ms ease;
}

.navbar-fixed-top {
    position: fixed;
}

.header-nav-wrap .navbar-toggle .icon-bar {
    background-color: rgb(255, 162, 0);
}

.header-logo {
    padding: 0 15px;
}

.header-logo img {
    transition: 300ms ease;
}

.header-nav {
    text-align: center;
}

.header-nav-wrap .header-nav ul.nav.navbar-nav {
    display: block;
    vertical-align: middle;
}

@media(min-width:768px) {
    .header-nav-wrap .header-nav ul.nav.navbar-nav {
        display: inline-block;
        float: none;
    }
}

.header-nav-wrap .header-nav ul li a {
    padding: 15px 15px;
    text-align: left;
}

@media(min-width:768px) {
    .header-nav-wrap .header-nav ul li a {
        padding: 15px 6px;
    }
}

@media(min-width:1200px) {
    .header-nav-wrap .header-nav ul li a {
        padding: 15px 15px;
    }
}

.header-nav-wrap ul li.dropdown a .sub-arrow {
    display: none;
}

.header-nav-wrap ul li.dropdown.open a.has-submenu,
.header-nav-wrap ul li.dropdown.open a.has-submenu:hover,
.header-nav-wrap ul li.dropdown.open a.has-submenu:focus {
    background-color: transparent;
    color: rgb(255, 162, 0);
}

.dropdown-menu {
    background-color: rgb(243, 243, 243);
    border: none;
    border-radius: 0;
    transform: rotateX(-90deg) translateY(-60px);
    -webkit-transform: rotateX(-90deg) translateY(-60px);
    transition: 400ms ease;
}

.datepicker.dropdown-menu {
    transform: rotateX(0) translateY(0);
    -webkit-transform: rotateX(0) translateY(0);
}

.dropdown.open .dropdown-menu {
    transform: rotateX(0deg) translateY(0px);
    -webkit-transform: rotateX(0deg) translateY(0px);
}

.header-nav-wrap ul li.dropdown ul li a {
    color: rgb(119, 119, 119);
    padding: 5px 15px;
}

.header-nav-wrap ul li.dropdown ul li a:hover {
    color: rgb(255, 255, 255);
}


/*Buttons Sweep To Right */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 162, 0);
    border: 1px solid rgb(255, 162, 0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.search-wrap {
    width: 100%;
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

@media(min-width:768px) {
    .search-wrap {
        width: auto;
        float: right;
    }
}

.search-wrap input {
    padding-right: 30px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 0;
    box-shadow: none;
}

.search-wrap .glyphicon-search {
    color: rgb(88, 88, 88);
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/*==============================================================================
====================================Header End==================================
==============================================================================*/


/*==============================================================================
====================================Start Package Banner========================
==============================================================================*/

.package-banner {
    background-color: rgb(0, 0, 0);
    padding: 150px 0 30px;
}

@media(min-width:768px) {
    .package-banner {
        padding: 190px 0 0;
    }
}

@media(min-width:1024px) {
    .package-banner {
        padding: 150px 0 0;
    }
}

.package-wrap {
    position: relative;
}

.about-package {
    width: 265px;
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 5px 10px;
    border-left: 10px solid rgb(255, 162, 0);
    border-right: 10px solid rgb(255, 162, 0);
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-transform: uppercase;
    z-index: 99;
}

.about-package .banner-description,
.about-package-small .banner-description {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);
    transition: transform 400ms;
    transform: scaleX(0);
    z-index: 99;
}

.about-package .banner-description.active,
.about-package-small .banner-description.active {
    transform: scaleX(1);
}

.about-package .banner-description p,
.about-package-small .banner-description p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
    text-transform: none;
}

.about-package h2 {
    margin: 0;
    font-weight: 700;
}

.about-package a {
    color: #fff;
}

@media(min-width:768px) {
    .about-package {
        width: 375px;
        font-size: 25px;
    }
}

.about-package div {
    position: relative;
    padding: 0 25px 0 0;
}

.about-package .btn-detail {
    position: absolute;
    right: 0;
    top: 5px;
}

.btn-detail span {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 0 3px;
    display: block;
}

.btn-detail:hover span {
    background-color: rgb(255, 162, 0);
}

.aside-package-wrap {
    background-color: rgb(40, 40, 40);
    position: relative;
    margin: 20px 0 0;
}

@media(min-width:768px) {
    .aside-package-wrap {
        margin: 20px 0 20px;
    }
}

@media(min-width: 992px) {
    .aside-package-wrap {
        margin: 0 0 28px;
    }
}

.about-package-small {
    width: 220px;
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 5px 10px;
    border-left: 10px solid rgb(255, 162, 0);
    border-right: 10px solid rgb(255, 162, 0);
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-transform: uppercase;
}

.about-package-small h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.about-package-small a {
    color: #fff;
}

.about-package-small div {
    padding: 0 25px 0 0;
    position: relative;
}

.about-package-small .btn-detail {
    position: absolute;
    right: 0;
    top: 5px;
}


/*==============================================================================
====================================End Package Banner==========================
==============================================================================*/


/*==============================================================================
====================================Start Trip==================================
==============================================================================*/

.trip-wrap {
    max-height: 376px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0 0 20px;
    display: block;
    overflow: hidden;
    transition: 300ms ease;
}

@media(min-width:768px) {
    .trip-wrap {
        margin: 0;
    }
}

.trip-wrap:hover,
.trip-wrap:focus {
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.trip-img-wrap {
    max-height: 262px;
    overflow: hidden;
}

.trip-img-wrap img {
    margin: 0 auto;
}

.trip-wrap.inner-trip-wrap {
    padding-bottom: 5px;
}

.trip-wrap.inner-trip-wrap > span,
.bikes-wrap.inner-trip-wrap > span {
    display: block;
    padding-left: 10px;
    padding-bottom: 3px;
}

.trip-wrap.inner-trip-wrap h2 {
    height: auto;
    margin-bottom: 5px;
}

.trip-wrap h2 {
    width: 100%;
    height: 64px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    margin: 10px 0;
    display: block;
    overflow: hidden;
}

@media(min-width:992px) {
    .trip-wrap h2 {
        font-size: 16px;
    }
}

.media-listing .bikes-wrap h2 {
    min-height: 60px;
    margin-top: 0;
}

.media-listing .bikes-wrap {
    margin-bottom: 30px;
}

.btn-more {
    width: 116px;
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 3px 0 5px;
    margin: 30px auto 0;
    display: block;
}

.btn-more:hover,
.btn-more:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
}


/*==============================================================================
====================================End Trip====================================
==============================================================================*/


/*==============================================================================
====================================Start Bike Hire=============================
==============================================================================*/

.hire-bike-section {
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/book-trip-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 1920px 180px;
    padding: 30px 0;
}

@media(min-width:1024px) {
    .hire-bike-section {
        background-image: url(../img/ride-passion.png), url(../img/book-trip-bottom-bg.png);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom center;
        background-size: 140px 140px, 1920px 180px;
    }
}

.team-image-slider {
    margin-bottom: 15px;
}

#hire-bike-slider,
#bike-detail-slider,
#package-banner,
#bike-detail-slider,
.team-image-slider {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px 100px;
    position: relative;
}

#hire-bike-slider .owl-controls,
#bike-detail-slider .owl-controls,
#package-banner .owl-controls,
#bike-detail-slider .owl-controls,
.team-image-slider .owl-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -web-kit-transform: translateY(-50%);
}

#hire-bike-slider .owl-next,
#bike-detail-slider .owl-next,
#package-banner .owl-next,
#bike-detail-slider .owl-next,
.team-image-slider .owl-next {
    width: 0;
    height: 0;
    font-size: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(0, 0, 0);
    float: right;
    transition: 300ms ease;
}

#package-banner .owl-next,
.team-image-slider .owl-next {
    margin-right: 15px;
}

#hire-bike-slider .owl-prev,
#bike-detail-slider .owl-prev,
#package-banner .owl-prev,
#bike-detail-slider .owl-prev,
.team-image-slider .owl-prev {
    width: 0;
    height: 0;
    font-size: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(0, 0, 0);
    float: left;
    transition: 300ms ease;
}

#package-banner .owl-prev,
.team-image-slider .owl-prev {
    margin-left: 15px;
}

#hire-bike-slider .owl-next:hover,
#bike-detail-slider .owl-next:hover,
#package-banner .owl-next:hover,
#bike-detail-slider .owl-next:hover,
.team-image-slider .owl-next:hover {
    border-left: 10px solid rgb(255, 162, 0);
}

#hire-bike-slider .owl-prev:hover,
#bike-detail-slider .owl-prev:hover,
#package-banner .owl-prev:hover,
#bike-detail-slider .owl-prev:hover,
.team-image-slider .owl-prev:hover {
    border-right: 10px solid rgb(255, 162, 0);
}

.bike-img {
    text-align: center;
}

.bike-img img {
    width: 100%;
    display: block;
}

@media(min-width:1200px) {
    .bike-img img {
        width: auto !important;
        display: inline-block !important;
    }
}

.trek-code {
    font-size: 18px;
    font-weight: 300;
    padding: 0 0 20px 20px;
    margin: 0;
    border-bottom: 1px solid rgb(17, 17, 17)
}

.bike-info {
    padding: 0 15px;
    margin: 0 0 20px;
}

.bike-code {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
}

.bike-code span {
    font-weight: 300;
}

.btn-download-pdf {
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 3px 15px 5px;
    margin: 30px 20px 0 0;
    display: inline-block;
}

.btn-book-bike {
    background-color: rgb(0, 191, 165);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 3px 15px 5px;
    margin: 30px 0 0;
    display: inline-block;
}

.btn-download-pdf:hover,
.btn-download-pdf:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
}

.btn-book-bike:hover,
.btn-book-bike:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(0, 152, 131) inset;
}

.bike-search-wrap {
    float: right;
    position: relative;
}

.bike-search-wrap input {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
}

.bike-search-wrap input:focus {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: none;
}

.bike-search-wrap .glyphicon-search {
    color: rgb(88, 88, 88);
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/*==============================================================================
====================================End Bike Hire===============================
==============================================================================*/


/*==============================================================================
====================================Start Keep Updated==========================
==============================================================================*/

.keep-updated-wrap {
    background-image: url(../img/keep-updated-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 30px;
}

@media(min-width:768px) {
    .keep-updated-wrap {
        background-image: url(../img/adrenaline-rush.png), url(../img/keep-updated-icon-bg.png), url(../img/keep-updated-bg.jpg);
        background-position: top right, bottom left, center center;
        background-size: 100px 70px, 100px 70px, cover;
        background-repeat: no-repeat;
    }
}

@media(min-width:1700px) {
    .keep-updated-wrap {
        background-size: auto, auto, cover;
    }
}

.post-wrap-title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: normal;
    margin: 30px 0 30px;
    text-transform: uppercase;
}

.post-wrap {
    background-color: rgb(255, 255, 255);
    margin: 0 0 20px;
    display: block;
    overflow: hidden;
    transition: 300ms ease;
}

@media(min-width:768px) {
    .post-wrap {
        margin: 0;
    }
}

.post-img-wrap {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
}

.highlighted-img-wrap {
    width: 100%;
    height: 416px;
    position: relative;
    overflow: hidden;
}

.post-img-wrap img,
.highlighted-img-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width:1024px) {
    .post-img-wrap {
        height: 310px;
    }
}

.post-wrap h3 {
    width: 100%;
    height: 62px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    margin: 10px 0 0;
    display: block;
    overflow: hidden;
}

@media(min-width:992px) {
    .post-wrap h3 {
        font-size: 18px;
    }
}

.trip-wrap .post-by,
.post-wrap .post-by {
    height: auto;
    color: rgb(119, 119, 119);
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0 10px;
}

.highlighted-post .post-wrap-title {
    color: rgb(255, 162, 0);
}

.highlighted-post h3 {
    color: rgb(255, 255, 255);
}

.highlighted-post .post-wrap {
    background-color: rgb(255, 162, 0);
}

.highlighted-post .post-by {
    color: rgb(0, 0, 0);
}

.whats-hot-wrap {
    background-color: rgb(255, 162, 0);
    padding: 10px 10px;
    overflow: hidden;
}

.whats-hot-wrap img {
    max-width: 100%;
}

@media(min-width:1200px) {
    .whats-hot-wrap {
        padding: 0 15px 0 0;
    }
}

.whats-hot-wrap h3 {
    color: rgb(255, 255, 255);
    margin: 5px 0 15px;
}

@media(min-width:1200px) {
    .whats-hot-wrap h3 {
        margin: 15px 0;
    }
}

.post-date {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 20px;
    display: block;
}

.post-wrap .events-date {
    height: auto;
    color: rgb(119, 119, 119);
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0 10px;
}

.btn-view-detail {
    background-color: rgb(67, 160, 71);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 3px 15px 5px;
    margin: 5px 0 0;
    display: inline-block;
}

.btn-view-detail i {
    margin: 0 -6px 0 0px;
}

.btn-view-detail:hover,
.btn-view-detail:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(22, 121, 27) inset;
}


/*==============================================================================
====================================End Keep Updated============================
==============================================================================*/


/*==============================================================================
====================================Start Our Team==============================
==============================================================================*/

.team-section {
    background-color: rgb(34, 34, 34);
    padding: 30px 0;
}

.sections-title-2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.even {
    background-color: rgb(255, 162, 6);
}

.odd {
    background-color: rgb(0, 191, 165);
}

.team-member-wrap {
    color: rgb(0, 0, 0);
    padding: 30px 0 70px;
    margin: 0 0 20px;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
}

.team-member-wrap .member-name,
.team-member-wrap .member-post {
    width: 120px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    position: absolute;
    left: 50%;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.team-member-img {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.member-name {
    bottom: 18%;
    transition: 300ms ease;
}

.member-post {
    bottom: 4%;
    transition: 400ms ease;
}

@media(min-width:1024px) {
    .member-name {
        bottom: -60px;
    }
    .member-post {
        bottom: -60px;
    }
}

.team-member-wrap:hover .member-name {
    bottom: 18%;
}

.team-member-wrap:hover .member-post {
    bottom: 4%;
}


/*==============================================================================
====================================End Our Team================================
==============================================================================*/


/*==============================================================================
====================================Start Customer Say==========================
==============================================================================*/

.customer-say {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    padding: 30px 0;
}


/*.customer-description {
    margin: 0 0 15px;
}*/

.customer-description span {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

.customer-comments p {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.customer-comments img {
    min-width: 120px;
    max-width: 120px;
    margin: 0 auto 15px;
    border-radius: 50%;
}

.customer-comment-wrap {
    padding: 0 200px;
    position: relative;
}

.blockquote-wrap {
    text-align: center;
    margin: 0 0 10px;
}

.blockquote-wrap-btn-review {
    margin: 30% 0 0;
}

.btn-write-review {
    color: rgb(255, 162, 0);
    margin: 15px 0 0;
    display: block;
}

.btn-write-review:hover {
    color: rgb(255, 255, 255);
}

#customer-review .owl-dot {
    background-color: rgb(119, 119, 119);
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 5px 0 0;
    width: 10px;
}

#customer-review .owl-dot.active {
    background-color: rgb(255, 162, 0);
}

@media(min-width:768px) {
    .customer-comments img {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
    }
}


/*==============================================================================
====================================End Customer Say============================
==============================================================================*/


/*==============================================================================
====================================Start Footer================================
==============================================================================*/

footer {
    background-color: rgb(34, 34, 34);
    padding: 30px 0;
}

.logoHolder {
    margin: 0 0 20px;
    text-align: left;
}

.logoHolder span {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0 0 15px;
    display: block;
    text-transform: uppercase;
}

.logoHolder img {
    width: 65px;
    margin: 0 auto 10px;
    display: block;
}

@media(min-width:768px) {
    .logoHolder img {
        width: auto;
        margin: 0 12px 0 0;
        display: inline-block;
    }
}

@media(min-width:1024px) {
    .logoHolder {
        margin: 0;
    }
}

.footer-logo {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 0 30px;
}

.follow-subscrib {
    text-align: center;
}

.subscribe {
    text-align: center;
    position: relative;
    margin: 0 0 30px;
    overflow: hidden;
}

.subscribe input,
.subscribe label {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.subscribe label {
    width: 30%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 14px;
}

@media(min-width:768px) {
    .subscribe {
        width: 50%;
        float: left;
    }
}

@media(min-width: 1024px) {
    .subscribe {
        width: auto;
        float: none;
    }
    
    .subscribe label {
        font-size: 16px;
    }
}

.subscribe input {
    width: 95%;
    padding: 5px;
    margin: 0 0 0 10px;
}

.subscribe .btn-group {
    width: 100%;
}

@media(min-width: 500px) {
    .subscribe .btn-group {
        width: 44%;
    }
}

@media(min-width: 768px) {
    .subscribe .btn-group {
        width: 69%;
    }
}

.btn-subscribe {
    height: 36px;
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 1px solid rgb(255, 162, 0);
    position: absolute;
    top: 0;
    right: 0;
}

.follow-dawn {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.follow-dawn span {
    margin: 0 10px 15px;
    vertical-align: middle;
}

@media(min-width:768px) {
    .follow-dawn {
        width: 50%;
        float: left;
        text-align: left;
    }
}

.footer-nav-wrap {
    border-top: 1px solid rgb(51, 51, 51);
    text-align: center;
}

@media(min-width:1024px) {
    .follow-dawn {
        width: auto;
        float: none;
        text-align: right;
    }
    
    .footer-nav-wrap {
        text-align: right;
    }
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    color: rgb(187, 187, 187);
    padding: 10px;
    padding-bottom: 0;
}

.footer-nav li:first-child a {
    padding-left: 0;
}

.footer-nav li:last-child a {
    padding-right: 0;
}

@media(min-width: 768px) {
    .footer-nav li a {
        padding: 10px 15px;
        padding-bottom: 0;
    }
}

.footer-nav li a:hover,
.footer-nav li a:focus {
    background-color: transparent;
    color: rgb(255, 162, 0);
}

.footer-navbar-nav .navbar-nav li {
    text-align: center;
}

.footer-navbar-nav .navbar-nav li a {
    color: #bbb;
}

.footer-navbar-nav .navbar-nav li a:hover,
.footer-navbar-nav .navbar-nav li a:focus {
    color: #ffa200;
    background-color: transparent;
}

.copy-right {
    color: rgb(119, 119, 119);
    font-size: 14px;
    padding: 20px 0 0;
    text-align: center;
}

@media(min-width:768px) {
    .copy-right {
        text-align: left;
    }
}

@media(min-width:1024px) {
    .copy-right {
        text-align: right;
    }
}

.amnil {
    color: rgb(255, 162, 0);
}

.amnil:hover {
    color: rgb(119, 119, 119);
}


/*==============================================================================
====================================End Footer==================================
==============================================================================*/


/*==============================================================================
====================================Start Tour==================================
==============================================================================*/

.inner-page-bg-1 .trip-wrap {
    margin: 0 0 30px;
}

.filter-tour-wrap {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0 0 30px;
    box-shadow: 10px 0 0 0 rgb(255, 162, 0) inset, -10px 0 0 0 rgb(255, 162, 0) inset;
}

.filter-tour-wrap h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.filter-tour-wrap input {
    padding-right: 35px;
}

.filter-tour-wrap select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../img/icon/icon-select-dropdown.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filter-tour-wrap input,
.filter-tour-wrap select {
    background-color: rgb(247, 247, 247);
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

@media(min-width:768px) {
    .filter-tour-wrap input,
    .filter-tour-wrap select {
        margin: 0;
    }
}

.filter-tour-wrap input:focus,
.filter-tour-wrap select:focus {
    border: none;
    box-shadow: none;
}

.filter-name-wrap {
    position: relative;
}

.filter-name-wrap .glyphicon-search {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.tours-status-wrap {
    position: relative;
    overflow: hidden;
}


/*Tour slider*/

#tour-detail-slide {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s ease;
    z-index: 1;
}

#tour-detail-slide.owl-carousel .owl-controls .owl-dot {
    float: left;
    background-size: cover;
    transition: 300ms ease;
}

#tour-detail-slide .owl-controls {
    margin: 0;
}

#tour-detail-slide .owl-dot.active {
    border: 8px solid rgb(255, 162, 0)
}

#tour-detail-slide .owl-nav {
    width: 100%;
    position: absolute;
    top: 38%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#tour-detail-slide .owl-nav .owl-prev,
#tour-detail-slide .owl-nav .owl-next {
    width: 52px;
    height: 52px;
}

@media(min-width:992px) {
    #tour-detail-slide .owl-nav .owl-prev,
    #tour-detail-slide .owl-nav .owl-next {
        width: 59px;
        height: 59px;
    }
}

#tour-detail-slide .owl-nav .owl-prev {
    font-size: 0;
    background-color: rgb(0, 0, 0);
    margin: 0 0 0 20px;
    border-radius: 50%;
    float: left;
    position: relative;
}

#tour-detail-slide .owl-prev:after {
    color: rgb(255, 255, 255);
    font-family: "Glyphicons Halflings";
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: 300ms ease;
    content: "\e257";
}

#tour-detail-slide .owl-nav .owl-next {
    background-color: rgb(0, 0, 0);
    font-size: 0;
    margin: 0 20px 0 0;
    border-radius: 50%;
    float: right;
    position: relative;
}

#tour-detail-slide .owl-next:before {
    color: rgb(255, 255, 255);
    font-family: "Glyphicons Halflings";
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: 300ms ease;
    content: "\e258";
}

#tour-detail-slide .owl-nav .owl-prev:hover.owl-prev:after,
#tour-detail-slide .owl-nav .owl-next:hover.owl-next:before {
    color: rgb(255, 162, 0);
}


/*End tour slider*/

.share-tour {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px 0 0;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.share-tour h3 {
    font-weight: normal;
    padding: 0 0 5px;
    margin: 0 0 15px;
    border-bottom: 1px dashed rgb(200, 200, 200);
    text-transform: uppercase;
}

.share-facebook {
    width: 32px;
    height: 32px;
    background-color: rgb(200, 200, 200);
    background-image: url(../img/icon/icon-share-facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px 0 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.share-twitter {
    width: 32px;
    height: 32px;
    background-color: rgb(200, 200, 200);
    background-image: url(../img/icon/icon-share-twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px 0 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.share-facebook:hover,
.share-facebook:focus,
.share-twitter:hover,
.share-twitter:focus {
    background-color: rgb(255, 162, 0);
}

.about-tour {
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    padding: 20px 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.about-tour h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 15px;
}

.top-tour-about {
    display: block;
}

.top-tour-about h3 {
    margin: 15px 0 30px;
}

.top-tour-about .download-tour-detail,
.top-tour-about .btn-book-tour {
    width: 100%;
    display: inline-block;
}

@media(min-width:768px) {
    .top-tour-about .download-tour-detail,
    .top-tour-about .btn-book-tour {
        width: 40%;
    }
}

.top-tour-about .btn-book-tour {
    float: right;
}

@media(min-width:992px) {
    .top-tour-about {
        display: none;
    }
}

.aside-tour-about {
    display: block;
}

.tour-level {
    padding: 10px 0;
    margin: 0 0 15px;
    border-top: 1px dashed rgb(119, 119, 119);
    border-bottom: 1px dashed rgb(119, 119, 119);
}

.tour-level h4 {
    color: rgb(255, 162, 0);
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
}

.tour-level h4 span {
    background-color: transparent;
    color: rgb(119, 119, 119);
    font-weight: normal;
}

.difficulty-level span {
    width: 31px;
    height: 17px;
    display: inline-block;
    margin-left: 1px;
    padding-top: 13px;
    text-align: center;
}

.difficulty-level {
    text-align: right;
}

.difficulty-level span:nth-child(1) {
    background-image: url("../img/icon/grey-e.png");
}

.difficulty-level span:nth-child(2) {
    background-image: url("../img/icon/grey-d.png");
}

.difficulty-level span:nth-child(3) {
    background-image: url("../img/icon/grey-c.png");
}

.difficulty-level span:nth-child(4) {
    background-image: url("../img/icon/grey-b.png");
}

.difficulty-level span:nth-child(5) {
    background-image: url("../img/icon/grey-a.png");
}

#Dynamic_formamature,
#level-easy,
#level-medium,
#level-pro,
#level-expert {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

#level-easy {
    background-image: url("../img/icon/orange-1_01.png");
}

#level-moderate {
    background-image: url("../img/icon/orange-1_02.png");
}

#level-medium {
    background-image: url("../img/icon/orange-1_03.png");
}

#level-pro {
    background-image: url("../img/icon/orange-1_04.png");
}

#level-expert {
    background-image: url("../img/icon/orange-1_05.png");
}

.download-tour-detail,
.btn-book-tour,
.btn-enquire-tour,
.download-bike-detail {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    display: block;
    margin: 0 0 15px;
}

.download-bike-detail {
    width: 100%;
}
@media(min-width: 540px){
    .download-bike-detail {
    width: 50%;
}
}
.download-tour-detail,
.download-bike-detail {
    background-color: rgb(255, 162, 0);
    background-image: url(../img/icon/icon-pdf.png);
    background-repeat: no-repeat;
    background-position: 90% 12px;
    margin: 0 0 15px;
}

.download-tour-detail:hover,
.download-tour-detail:focus,
.download-bike-detail:hover,
.download-bike-detail:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -8px 0 0 rgb(230, 128, 0) inset;
}

.btn-book-tour {
    background-color: rgb(41, 182, 246);
    background-image: url(../img/icon/icon-book.png);
    background-repeat: no-repeat;
    background-position: 90% 12px;
}

.btn-enquire-tour {
    background-color: rgb(139, 213, 52);
    background-image: url(../img/icon/icon-enquire.png);
    background-repeat: no-repeat;
    background-position: 90% 8px;
    background-size: 12% auto;
}

.btn-book-tour:hover,
.btn-book-tour:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -8px 0 0 rgb(25, 146, 201) inset;
}

.btn-enquire-tour:hover,
.btn-enquire-tour:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -8px 0 0 rgb(116, 194, 24) inset;
}

.text-scroll-bottom,
.text-scroll-top {
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    height: 5px;
    padding: 15px;
}

@media (min-width: 992px) {
    .text-scroll-bottom,
    .text-scroll-top {
        display: block;
    }
}

.text-scroll-top {
    background-image: url("../img/icon/icon-select-dropdown.png");
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.text-scroll-bottom {
    background-image: url("../img/icon/icon-select-dropdown.png");
}

.about-text {
    height: auto;
    margin: 20px 0;
    overflow: hidden;
}

@media (min-width: 992px) {
    .about-text {
        height: 142px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .about-text {
        overflow: hidden;
    }
}

.about-text p {
    position: relative;
    top: 0;
}

.tour-detail-tab {
    margin: 30px 0 0;
}

.tour-detail-tab .col-sm-1,
.tour-detail-tab .col-lg-1 {
    padding-right: 15px;
}

.tour-detail-tab .col-sm-11,
.tour-detail-tab .col-lg-11 {
    padding-left: 15px;
}

@media(min-width:768px) {
    .tour-detail-tab .col-sm-1,
    .tour-detail-tab .col-lg-1 {
        padding-right: 0;
    }
    .tour-detail-tab .col-sm-11,
    .tour-detail-tab .col-lg-11 {
        padding-left: 0;
    }
}

.tour-detail-tab .nav-tabs li {
    width: 100%;
    margin: 0;
    border: none;
}

.tour-detail-tab .nav-tabs {
    background-color: rgb(255, 255, 255);
}

.tour-detail-tab .nav-tabs li a {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: 700;
    padding: 30px 20px;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 3px;
    text-transform: uppercase;
}

@media(min-width:768px) {
    .tour-detail-tab .nav-tabs li a {
        font-size: 0;
    }
}

.tour-detail-tab .nav-tabs li.active a,
.tour-detail-tab .nav-tabs li.active a:hover,
.tour-detail-tab .nav-tabs li.active a:focus {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
}

.tour-detail-tab .panel-heading {
    padding: 0;
}

.tour-detail-tab .panel-title {
    width: 100%;
}

.tour-detail-tab .panel-heading a {
    width: 100%;
    padding: 20px;
    text-align: center;
    display: block;
}

.tour-detail-tab .nav-tabs li .overview,
.tour-detail-tab .panel-heading .overview.collapsed,
.tour-detail-tab .nav-tabs li.active .overview,
.tour-detail-tab .panel-heading .overview,
.tour-detail-tab .nav-tabs li .costing,
.tour-detail-tab .panel-heading .costing.collapsed,
.nav-tabs li.active .costing,
.tour-detail-tab .panel-heading .costing,
.tour-detail-tab .nav-tabs li .tab-map,
.tour-detail-tab .panel-heading .tab-map.collapsed,
.tour-detail-tab .nav-tabs li.active .tab-map,
.tour-detail-tab .panel-heading .tab-map {
    background-repeat: no-repeat;
    background-position: 27% center;
    background-size: 18px 24px;
}

.tour-detail-tab .nav-tabs li .overview,
.tour-detail-tab .panel-heading .overview.collapsed {
    background-image: url(../img/icon/icon-overview.png);
}

.tour-detail-tab .nav-tabs li.active .overview,
.tour-detail-tab .panel-heading .overview {
    background-image: url(../img/icon/icon-overview-active.png);
    background-repeat: no-repeat;
}

.tour-detail-tab .nav-tabs li .itinerary,
.tour-detail-tab .panel-heading .itinerary.collapsed {
    background-image: url(../img/icon/icon-itenary.png);
    background-repeat: no-repeat;
    background-position: 27% center;
    background-size: 24px 24px;
}

.tour-detail-tab .nav-tabs li.active .itinerary,
.tour-detail-tab .panel-heading .itinerary {
    background-image: url(../img/icon/icon-itenary-active.png);
    background-repeat: no-repeat;
    background-position: 27% center;
    background-size: 24px 24px;
}

.tour-detail-tab .nav-tabs li .costing,
.tour-detail-tab .panel-heading .costing.collapsed {
    background-image: url(../img/icon/icon-costing.png);
}

.nav-tabs li.active .costing,
.tour-detail-tab .panel-heading .costing {
    background-image: url(../img/icon/icon-costing-active.png);
}

.tour-detail-tab .nav-tabs li .tab-map,
.tour-detail-tab .panel-heading .tab-map.collapsed {
    background-image: url(../img/icon/icon-map.png);
}

.tour-detail-tab .nav-tabs li.active .tab-map,
.tour-detail-tab .panel-heading .tab-map {
    background-image: url(../img/icon/icon-map-active.png);
}


/*changing background position on screen width > 768px*/

@media(min-width:768px) {
    .tour-detail-tab .nav-tabs li .overview,
    .tour-detail-tab .panel-heading .overview.collapsed,
    .tour-detail-tab .nav-tabs li.active .overview,
    .tour-detail-tab .panel-heading .overview,
    .tour-detail-tab .nav-tabs li .itinerary,
    .tour-detail-tab .panel-heading .itinerary.collapsed,
    .tour-detail-tab .nav-tabs li.active .itinerary,
    .tour-detail-tab .panel-heading .itinerary,
    .tour-detail-tab .nav-tabs li .costing,
    .tour-detail-tab .panel-heading .costing.collapsed,
    .nav-tabs li.active .costing,
    .tour-detail-tab .panel-heading .costing,
    .tour-detail-tab .nav-tabs li .tab-map,
    .tour-detail-tab .panel-heading .tab-map.collapsed,
    .tour-detail-tab .nav-tabs li.active .tab-map,
    .tour-detail-tab .panel-heading .tab-map {
        background-position: center center;
    }
}

.tour-detail-tab .tab-content {
    background-color: transparent;
    padding: 20px;
    display: none;
}

@media(min-width:768px) {
    .tour-detail-tab .tab-content {
        background-color: rgb(255, 255, 255);
        display: block;
    }
}

.tour-code {
    color: rgb(255, 162, 0);
    font-size: 16px;
    margin: 0 0 6px;
    display: block;
    text-transform: uppercase;
}

.tour-code span {
    color: rgb(0, 0, 0);
}

.tab-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.tour-planning span {
    font-size: 16px;
    font-weight: 700;
}

.tour-info {
    padding: 0;
    margin: 0 0 20px;
}

.tour-info li {
    font-weight: 700;
    list-style: none;
    padding: 10px;
    margin: 0 0 -1px -1px;
    border: 1px solid rgb(255, 162, 0);
    display: block;
}

.tour-info li:last-child {
    border-right: 1px solid rgb(255, 162, 0);
}

@media(min-width:768px) {
    .tour-info li {
        display: inline-block;
    }
}

.tour-info li span {
    font-weight: 300;
    margin: 0 0 0 10px;
}

.custom-table {
    border: 1px solid rgb(255, 162, 0);
}

.table-bordered.custom-table thead tr th,
.table-bordered.custom-table thead tr td {
    text-transform: uppercase;
    border: none;
    background-color: rgb(255, 162, 0);
}

.custom-table.table-bordered thead tr th,
.custom-table.table-bordered tbody tr th,
.custom-table.table-bordered tfoot tr th,
.custom-table.table-bordered thead tr td,
.custom-table.table-bordered tbody tr td,
.custom-table.table-bordered tfoot tr td {
    border: 1px solid rgb(255, 162, 0);
}

.tour-time {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 0;
    text-transform: uppercase;
    display: block;
}


/*===Start Booking From===*/

.bookingform-wrap,
.enquireform-wrap {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    /*position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    transition: 1s ease;*/
    z-index: -1;
}

.bookingform-wrap h3,
.enquireform-wrap h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.bookingform-wrap input,
.bookingform-wrap select,
.enquireform-wrap input,
.enquireform-wrap select {
    background-color: rgb(247, 247, 247);
    margin: 0 0 20px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.bookingform-wrap input:focus,
.bookingform-wrap select:focus,
.enquireform-wrap input:focus,
.enquireform-wrap select:focus {
    border: none;
}

.bookingform-wrap .btn-booking-submit,
.enquireform-wrap .btn-enquire-submit {
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    margin: 30px 0 0;
    transition: 400ms ease;
}

.bookingform-wrap .btn-booking-submit:hover,
.bookingform-wrap .btn-booking-submit:focus,
.enquireform-wrap .btn-enquire-submit:hover,
.enquireform-wrap .btn-enquire-submit:focus {
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
}

.bookingform-wrap .booking-status-wrap {
    /* padding: 0 0 15px ;*/
    border-left: 1px solid rgb(224, 224, 224);
    padding: 0 0 0 30px;
}

.bookingform-wrap .booking-status-wrap ul {
    padding: 0;
}

.bookingform-wrap .booking-status-wrap ul li {
    list-style: outside none none;
    margin: 0 0 20px;
}

.bookingform-wrap .booking-status-wrap ul li div {
    color: rgb(119, 119, 119);
}

.bookingform-wrap .booking-status-wrap ul li span {
    color: rgb(255, 162, 0);
    font-weight: 700;
}

.inquiry-form .booking-status-wrap {
    padding: 0 0 15px;
}

.close-btn {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-close.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 300ms ease;
}

.close-btn:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}


/*===End Booking From===*/


/*==============================================================================
====================================End Tour====================================
==============================================================================*/


/*==============================================================================
====================================Start Fixed Departure=======================
==============================================================================*/

.filter-contents-wrap {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

@media(min-width:768px) {
    .filter-contents-wrap {
        padding: 30px;
    }
}

@media(min-width:1920px) {
    .filter-contents-wrap {
        height: 450px;
    }
}

.filter-contents-wrap table {
    margin: 0;
}

.filter-contents-wrap thead {
    background-color: rgb(255, 162, 0);
    border: 1px solid rgb(255, 162, 0);
}

.filter-contents-wrap thead tr th {
    font-weight: 700;
    padding-left: 30px;
    border: none;
}

.filter-contents-wrap tbody tr td {
    font-weight: 700;
    padding-left: 30px;
    border: 1px solid rgb(255, 162, 0);
}

.filter-contents-wrap tbody tr td:first-child {
    font-weight: 300;
}

.filter-contents-wrap .table-hover tbody tr:hover {
    background-color: rgb(255, 244, 226);
}

.filter-contents-wrap thead tr th:first-child,
.filter-contents-wrap thead tr th:last-child,
.filter-contents-wrap tbody tr td:first-child,
.filter-contents-wrap tbody tr td:last-child {
    padding-left: 8px;
    text-align: center;
}

.filter-contents-wrap tbody tr td span {
    color: rgb(255, 162, 0);
    font-weight: 400;
}

.filter-contents-wrap tbody tr td span:last-child {
    text-transform: uppercase;
}

.days-departure {
    width: 26px;
    height: 26px;
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 2px 0;
    margin: 0 0 0 3px;
    border: 1px solid rgb(255, 162, 0);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.days-departure:hover,
.days-departure:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 162, 0);
}

.inactive-day {
    background-color: rgb(244, 244, 244);
    color: rgb(119, 119, 119);
    border: 1px solid rgb(219, 219, 219);
    cursor: not-allowed;
}

.inactive-day:hover {
    background-color: rgb(244, 244, 244);
    color: rgb(119, 119, 119);
}


/*==============================================================================
====================================End Fixed Departure=========================
==============================================================================*/


/*==============================================================================
====================================Start Race==================================
==============================================================================*/

.event-logo {
    width: 200px;
    height: 200px;
    background-color: rgb(244, 244, 244);
    margin: 30px auto 0;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-event-register {
    width: 175px;
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px;
    margin: 30px auto 0;
    text-align: center;
    text-transform: uppercase;
    display: block;
    float: none;
}

@media(min-width:768px) {
    .btn-event-register {
        float: right;
        margin: 0;
    }
}

.btn-event-register:hover,
.btn-event-register:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
}

.program-summary-wrap {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.1);
}

.program-summary-wrap h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 20px;
    margin: 0;
    border-bottom: 1px dashed rgb(218, 218, 218);
    text-transform: uppercase;
}

.program-summary-wrap h5 {
    color: rgb(255, 157, 2);
    font-size: 14px;
    margin: 20px 0 5px;
    text-transform: uppercase;
}

.program-summary-wrap span {
    width: 100%;
    margin: 0 0 5px;
    display: block;
}

.program-summary-wrap span:last-child {
    margin: 0;
}

.event-detail-tab {
    margin: 30px 0 0;
}

.event-detail-tab-content {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

@media(min-width:768px) {
    .event-detail-tab-content {
        padding: 30px;
        margin: 0 0 30px;
    }
}

.race-contents-wrap {
    text-align: center;
}

.race-contents-wrap h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin: 20px 0 15px;
}

.race-contents-wrap img {
    margin: 0 0 10px;
}

.race-contents-wrap p {
    text-align: left;
}

.event-detail-tab .nav-tabs {
    border: none;
}

.event-detail-tab .nav-tabs li a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    border: none;
    border-right: 2px solid rgb(218, 218, 218);
    border-radius: 0;
}

.event-detail-tab .nav-tabs li:last-child a {
    border-right: none;
}

.event-detail-tab .nav-tabs li.active a,
.event-detail-tab .nav-tabs li.active a:focus {
    color: rgb(255, 157, 2);
    border-right: 2px solid transparent;
}

.event-detail-tab .nav-tabs li a:focus,
.event-detail-tab .nav-tabs li a:hover {
    margin: 0;
    border: none;
    border-right: 2px solid rgb(218, 218, 218);
    border-radius: 0;
}

.event-detail-tab .nav-tabs li:last-child a:hover,
.event-detail-tab .nav-tabs li:last-child a:focus {
    border-right: none;
}

.aside-content-wrap {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0 0 30px;
    box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media(min-width:1200px) {
    .aside-content-wrap {
        text-align: left;
    }
}

.aside-content-wrap a {
    margin: 0 0 10px;
    display: inline-block;
    transition: all 400ms ease;
}

.aside-content-wrap a:last-child {
    margin: 0;
}

@media(min-width:1200px) {
    .aside-content-wrap a {
        margin: 0 10px 0 0;
    }
    .aside-content-wrap a:last-child {
        margin: 0;
    }
}

.aside-content-wrap a img {
    transition: all 400ms ease;
}

.aside-content-wrap a:hover,
.aside-content-wrap a:focus {
    box-shadow: 0 0 4px 4px rgb(255, 162, 2) inset;
}

.aside-content-wrap a:hover img,
.aside-content-wrap a:focus img {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.aside-content-wrap h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px dashed rgb(218, 218, 218);
    text-align: left;
    text-transform: uppercase;
}


/*==============================================================================
====================================End Race====================================
==============================================================================*/


/*==============================================================================
====================================Start Contact===============================
==============================================================================*/

#map-canvas {
    width: 100%;
    height: 390px;
    background-color: rgb(204, 204, 204);
    margin: 20px 0;
    box-shadow: 0 0 11px 12px rgba(0, 0, 0, 0.2);
}

.contact-contents-wrap {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0 0 30px;
}

@media(min-width:768px0) {
    .contact-contents-wrap {
        margin: 0;
    }
}

.contact-contents-wrap h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 10px;
    margin: 20px 0 20px;
    border-bottom: 1px dashed rgb(200, 200, 200);
    text-transform: uppercase;
}

.contact-contents-wrap h3:first-child {
    margin: 0 0 20px;
}

.contact-contents-wrap span {
    margin: 0 0 5px;
    display: block;
}

.contact-contents-wrap input,
.contact-contents-wrap textarea {
    background: rgb(247, 247, 247);
    margin: 0 0 20px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 0;
    box-shadow: none;
    resize: none;
}

.contact-contents-wrap input:focus,
.contact-contents-wrap textarea:focus {
    border: 1px solid rgb(242, 242, 242);
    box-shadow: none;
}

.contact-contents-wrap .btn-send {
    background-color: rgb(255, 192, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    padding: 3px 20px 5px;
    margin: 5px 0 0;
    display: inline-block;
    transition: 400ms ease;
}

.contact-contents-wrap .btn-send:hover,
.contact-contents-wrap .btn-send:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
}

.youtube-big,
.instagram-big,
.pinterest-big,
.facebook-big,
.twitter-big {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.facebook-big {
    background-image: url(../img/icon/icon-fb-big.png);
}

.twitter-big {
    background-image: url(../img/icon/icon-twitter-big.png);
}

.youtube-big {
    background-image: url(../img/icon/icon-youtube-big.png);
}

.instagram-big {
    background-image: url(../img/icon/icon-insta.png);
}

.pinterest-big {
    background-image: url(../img/icon/icon-pinterest.png);
}

.facebook-big:hover,
.facebook-big:focus,
.twitter-big:hover,
.twitter-big:focus,
.youtube-big:hover,
.youtube-big:focus,
.instagram-big:hover,
.instagram-big:focus,
.pinterest-big:hover,
.pinterest-big:focus {
    background-color: rgb(255, 162, 0);
}


/*==============================================================================
====================================End Contact=================================
==============================================================================*/


/*==============================================================================
====================================Start News Detail===========================
==============================================================================*/

.details-banner-img {
    width: 100%;
    height: 210px;
    position: fixed;
    right: 0;
    left: 0;
    top: 65px;
    text-align: center;
    overflow: hidden;
}

.detail-wrap {
    margin: 204px 0 0;
    position: relative;
    z-index: 1;
}

.details {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 27px 38px 0 rgba(0, 0, 0, 0.24);
    margin: 0 0 40px;
    padding: 20px;
}

.details h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
}

.details span {
    margin: 0 0 15px;
    display: block;
}

@media(min-width: 768px) {
    .details-banner-img {
        height: 350px;
    }
    .detail-wrap {
        margin: 286px 0 0;
    }
    .details {
        overflow: hidden;
        padding: 40px;
    }
    .news-details h3 {
        font-size: 40px;
        margin: 0 0 15px;
    }
}


/*==============================================================================
====================================End News Detail=============================
==============================================================================*/


/*==============================================================================
====================================Start FAQ & about===========================
==============================================================================*/

.about-logo {
    width: 200px;
    height: 200px;
    background-color: rgb(244, 244, 244);
    margin: 30px auto;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.about-logo.events-logo {
    height: 215px;
    width: 290px;
}

@media(min-width: 400px) {
    .about-logo.events-logo {
        height: 270px;
        width: 360px;
    }
}

.about-logo img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.faq-about-tab h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 15px;
    margin: 20px 0 15px;
    border-bottom: 1px dashed rgb(200, 200, 200);
    text-transform: uppercase;
}

.faq-about-tab h3:first-child {
    margin: 0 0 15px;
}

.faq-questions-about-wrap {
    width: auto;
    background-color: transparent;
    padding: 0;
}

@media(min-width:768px) {
    .faq-questions-about-wrap {
        width: 220px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }
}

@media(min-width:992px) {
    .faq-questions-about-wrap {
        width: 290px;
    }
}

@media(min-width:1200px) {
    .faq-questions-about-wrap {
        width: 360px;
        padding: 30px;
    }
}

.faq-questions-about-wrap ul.nav-tabs {
    border: none;
}

.faq-questions-about-wrap ul.nav-tabs li {
    margin: 0;
    float: none;
    display: block;
}

.faq-questions-about-wrap ul.nav-tabs li a {
    color: rgb(0, 0, 0);
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 0;
    position: relative;
}

@media(min-width:1200px) {
    .faq-questions-about-wrap ul.nav-tabs li a {
        padding: 10px 25px 10px 0;
    }
}

.faq-questions-about-wrap ul.nav-tabs li a:hover,
.faq-questions-about-wrap ul.nav-tabs li a:focus,
.faq-questions-about-wrap ul.nav-tabs li.active a {
    background-color: transparent;
    color: rgb(255, 157, 2);
    padding: 10px 25px 10px 25px;
    border: none;
}

.faq-questions-about-wrap ul.nav-tabs li a:hover:before,
.faq-questions-about-wrap ul.nav-tabs li a:focus:before,
.faq-questions-about-wrap ul.nav-tabs li.active a:before {
    width: 20px;
    height: 14px;
    background-image: url(../img/icon/icon-pointer.png);
    background-size: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    content: "";
    transition: 500ms ease;
}

.faq-questions-about-wrap .panel-heading {
    padding: 0;
}

.faq-questions-about-wrap .panel-heading a {
    width: 100%;
    padding: 10px;
    display: block;
}

.faq-about-tab .tab-content {
    background-color: rgb(255, 255, 255);
    padding: 15px 10px;
}

@media(min-width:768px) {
    .faq-about-tab .tab-content {
        padding: 30px;
    }
}


/*==============================================================================
====================================End FAQ & About=============================
==============================================================================*/

.feedback-form .number.math {
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
}

.feedback-form .random-number {
    padding-left: 10px;
}


/*inquiry error*/

input.error[type="text"],
.feedback-form textarea.error {
    border: 1px solid #da251c;
}

label.error {
    background-color: #cc1d1d;
    color: #fff !important;
    font-size: 11px;
    font-weight: normal;
    padding: 0 3px;
    position: absolute;
    right: 16px;
}

.feedback-form label.error {
    top: 0;
}

.bookingform-wrap label.error,
.enquireform-wrap label.error {
    top: 26px;
}


/*==============================================================================
====================================Start News Detail===========================
==============================================================================*/

.details-banner-img {
    width: 100%;
    height: 210px;
    position: fixed;
    right: 0;
    left: 0;
    top: 65px;
    text-align: center;
    overflow: hidden;
}

.detail-wrap {
    margin: 20px 0 0;
    position: relative;
    z-index: 1;
}

.details {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 27px 38px 0 rgba(0, 0, 0, 0.24);
    margin: 0;
    padding: 20px;
}

.details h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
}

.details span {
    margin: 0 0 15px;
    display: block;
}

@media(min-width: 768px) {
    .details-banner-img {
        height: 350px;
    }
    .detail-wrap {
        margin: 50px 0 0;
    }
    .details {
        overflow: hidden;
        padding: 40px;
    }
    .news-details h3 {
        font-size: 40px;
        margin: 0 0 15px;
    }
}


/*==============================================================================
====================================End News Detail=============================
==============================================================================*/


/*==============================================================================
====================================Start Bike Rent=============================
==============================================================================*/

.bikes-wrap {
    max-height: 376px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0 0 20px;
    display: block;
    overflow: hidden;
    transition: 300ms ease;
}

.bikes-wrap:hover,
.bikes-wrap:focus {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}

.bike-img-wrap {
    max-height: 262px;
    overflow: hidden;
}

.bikes-wrap h2 {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    margin: 10px 0 0;
    display: block;
    overflow: hidden;
    transition: 400ms ease;
}

.bikes-wrap:hover h2,
.bikes-wrap:focus h2 {
    background-color: rgb(255, 162, 0);
    color: rgb(255, 255, 255);
}

.bike-detail-banner {
    background-size: auto;
    background-position: left 180px, center bottom;
    padding: 30px 0 50px;
    text-align: center;
    background-color: #fff;
}

.bike-costs-name {
    margin: 0 0 30px;
}

.bike-name {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.bike-costs {
    font-size: 14px;
    font-weight: bold;
    padding: 0 6px;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 5px 0 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.bike-costs span {
    display: block;
}

.bike-img-full {
    width: 100%;
    margin: 0 auto;
}

.description-wrap {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.description-wrap h3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 15px;
    margin: 0 0 20px;
    border-bottom: 1px dashed rgb(218, 218, 218);
    text-transform: uppercase;
}

.desc-group {
    margin: 0 0 15px;
}

.desc-group:last-child {
    margin: 0
}

.desc-group span {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    display: block;
}

.inquiry-form {
    color: rgb(119, 119, 119);
    margin: 30px 0 0;
}

.inquiry-form input,
.inquiry-form select,
.inquiry-form textarea {
    background-color: rgb(225, 225, 225);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 0;
    position: relative;
    display: inline-block;
    box-shadow: none;
    margin: 0 0 15px;
    resize: none;
}

.inquiry-form .number.math {
    width: 50px;
    text-align: center;
}

.inquiry-form .random-number {
    padding-left: 10px;
}

.inquiry-form .glyphicon.glyphicon-calendar {
    position: absolute;
    top: 10px;
    right: 24px;
}

.inquiry-form-footer {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px dashed rgb(218, 218, 218);
}

.inquiry-form-footer a {
    color: rgb(255, 162, 0);
    transition: 400ms ease;
}

.inquiry-form-footer a:hover {
    color: rgb(119, 119, 119);
}

.inquiry-form input[type="checkbox"] {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.inquiry-form span {
    display: inline-block;
    vertical-align: middle;
}

.inquiry-form .btn-send {
    background-color: rgb(255, 192, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 0;
    padding: 3px 20px 5px;
    margin: 15px 0 0;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    transition: all 400ms ease 0s;
}

.inquiry-form .btn-send:hover,
.inquiry-form .btn-send:focus {
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
    color: rgb(255, 255, 255);
}

@media(min-width:768px) {
    .bikes-wrap {
        margin: 0;
    }
    .bike-detail-banner {
        background-position: left 270px, 220px center;
    }
    .bike-costs {
        border-top: none;
        border-left: 1px solid rgb(0, 0, 0);
        margin: 0 0 0 5px;
        text-align: left;
    }
    .bike-img-full {
        width: 500px;
    }
    .inquiry-form {
        border-left: 1px solid rgb(0, 0, 0);
        margin: 0;
    }
    .inquiry-form .btn-send {
        float: right;
        margin: 0;
    }
}

@media(min-width:992px) {
    .bikes-wrap span {
        font-size: 16px;
    }
}

@media(min-width: 1024px) {
    .bike-detail-banner {
        background-size: 180px 180px, 1920px 180px;
        background-position: left 180px, center bottom;
    }
}


/*==============================================================================
====================================Start Bike Rent=============================
==============================================================================*/


/*==============================================================================
=======================================Xtra CSS=================================
==============================================================================*/

.modal-dialog {
    width: calc(100% - 30px);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%) !important;
}

.modal-content {
    border-radius: 0;
}

#testimonial_form input,
#testimonial_form textarea,
#testimonial_form select {
    margin: 0 0 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 0;
    box-shadow: none;
    resize: none;
}

#testimonial_form input[type="file"] {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0;
}

#testimonial_form textarea {
    height: 55px;
}

@media(min-width: 768px) {
    .modal-dialog {
        width: auto;
    }
    #testimonial_form input,
    #testimonial_form textarea,
    #testimonial_form select {
        margin: 0 0 20px;
    }
    #testimonial_form textarea {
        height: auto;
    }
}

#testimonial_form label.error {
    top: 0;
}

#testimonial_form input.error[type="text"],
#testimonial_form textarea.error {
    border: 1px solid #da251c;
}

.modal-send {
    display: inline-block;
    margin: 5px 0 0;
    padding: 3px 20px 5px;
    background-color: rgb(255, 192, 0);
    border: none;
    border-radius: 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    transition: all 400ms ease 0s;
}

.modal-send:hover,
.modal-send:focus {
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 0 0 rgb(230, 128, 0) inset;
}

.site-map a {
    display: block;
    padding: 5px 0;
    color: rgb(119, 119, 119);
}

.site-map a:hover,
.site-map a:focus {
    color: rgb(255, 162, 0);
}

.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices {
    height: 26px !important;
}

.stButton .stButton_gradient {
    height: 23px !important;
}

.map-title {
    margin-bottom: 5px;
    margin-top: 10px;
    color: rgb(255, 162, 0);
    font-size: 18px;
    text-transform: uppercase;
}

.map-address {
    margin-bottom: 5px;
}

.map-location {
    margin-bottom: 0;
}

.from-ck {
    padding: 0 15px;
}

.from-ck h3 {
    border-bottom: 1px dashed rgb(200, 200, 200);
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 15px;
    padding: 0 0 15px;
    text-transform: uppercase;
}

.from-ck ul {
    margin: 0;
    padding: 0;
}

.autocomplete-w1 {
    background-color: transparent;
}


/*==================================Error Page===================================*/

.errorpage-wrap {
    background-color: rgb(25, 143, 219);
    color: rgb(255, 255, 255);
    padding: 120px 0 0;
    text-align: center;
}

@media(min-width:768px) {
    .errorpage-wrap {
        text-align: left;
    }
}

.oops {
    font-size: 30px;
    display: block;
    margin: 0 0 3px;
}

@media(min-width:1024) {
    .oops {
        margin: 0 0 60px;
    }
}

.lost {
    font-size: 25px;
}

.errorpage-wrap h1 {
    margin-top: 55px;
}

.lost a {
    background-color: #FFE44C;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 30px;
    border: 1px solid #FFE44C;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 30px;
    transition: 400ms ease;
}

.lost a:hover,
.lost a:focus {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
}

@media(min-width:768px) {
    .lost a {
        margin-top: 0;
    }
}

.processing {
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url("../img/load.gif");
}

.processing.subscribe-processing {
    top: 7px;
    left: 10px;
}

.processing.similar-processing {
    top: 0;
    left: auto;
    right: 15px;
}

.processing.similar-right-processing {
    top: 0;
    left: auto;
    right: 28px;
}

.processing.extra-processing {
    top: 31px;
    left: auto;
    right: 50px;
}

.processing.testimonial-processing {
    top: -40px;
    left: auto;
    right: 31px;
}
.processing.load-more-processing{
    left: 680px;
}

#messageModal .modal-header{
    display: none;
}

#messageModal .modal-body {
    color: #ffa200;
    font-size: 16px;
    text-align: center;
}

@media(min-width: 768px) {
    #messageModal .modal-body {
        font-size: 24px;
    }
}

#messageModal .modal-title {
    visibility: hidden;
}

.fancybox-title h2 {
    margin-top: 15px;
    font-size: 16px;
    color: #FFA200;
    text-transform: uppercase;
}

.events-date {
    bottom: 5px;
    position: relative;
    left: 10px;
}

@media(min-width: 480px) {
    .events-date {
        bottom: 15px;
        position: absolute;
        left: 25px;
    }
}

@media(min-width: 768px) {
    .events-date {
        bottom: -7px;
    }
}


/*=================================*/

.share-page {
    position: absolute;
    right: 19px;
    top: 19px;
    z-index:9;
}

.share-page-gallery {
    position: absolute;
    right: 15px;
    top: 10px;
}

.program-summary-wrap .share-program-summary {
    width: auto;
    position: absolute;
    right: 45px;
    top: 25px;
    z-index: 9;
}


/*==========================================*/

.cd-top {
    background: #FFA200 url("../img/icon/cd-top-arrow.svg") no-repeat scroll center 50%;
    bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-indent: 100%;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    visibility: hidden;
    white-space: nowrap;
    width: 40px;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
}

.cd-top.cd-is-visible {
    opacity: 1;
    visibility: visible;
}

.cd-top.cd-fade-out {
    opacity: 0.5;
}

.no-touch .cd-top:hover {
    background-color: #da251c;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        bottom: 20px;
        right: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        bottom: 30px;
        height: 50px;
        right: 30px;
        width: 50px;
    }
}

.st_sharethis_hcount .stButton .stArrow {
    display: none;
}
/*==============================================================================
==================================Start Testimonial=============================
==============================================================================*/

.testimonial-wrap {
    background-color: rgb(255, 255, 255);
    padding: 40px 0;
    position: relative;
    z-index: 2;
}

.comments-wrap {
    text-align: center;
}

.comment-user-name, .comment-country-name {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 15px;
    display: block;
    text-align: center;
}

.comment-user-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    border: 1px solid rgb(241, 237, 225);
    border-radius: 50%;
    overflow: hidden;
}

.testimonials-listing-wrap {
    padding: 40px 0;
}

.testimonials {
    min-height: 360px;
    background-color: rgb(231, 234, 242);
    color: rgb(76, 81, 91);
    padding: 20px;
    margin: 0 0 20px;
    border: 1px solid rgb(213, 217, 226);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.testimonials-listing-wrap .testimonials .comment-user-img {
    margin: 0 auto 15px;
    position: relative;
    border: none;
}

.testimonials-listing-wrap .testimonials .comment-user-name {
    margin: 0 0 20px;
    position: relative;
}

.testimonials .comment-user-name:before {
    width: 40px;
    height: 1px;
    background-color: rgb(76, 81, 91);
    position: absolute;
    bottom: -7px;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.testimonials:hover .comment-user-img,
.testimonials:focus .comment-user-img,
.testimonials:hover .comment-user-name,
.testimonials:focus .comment-user-name {
    color: rgb(255, 255, 255);
    z-index: 2;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: 400ms ease;
}

.testimonials:hover .comment-user-name:before {
    background-color: rgb(255, 255, 255);
}

.testimonials-listing-wrap .testimonials a {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 156, 98, 0.9);
    color: rgb(255, 223, 0);
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.testimonials:hover a,
.testimonials:focus a {
    top: 0;
}

.testimonials-listing-wrap .testimonials a span {
    background-color: rgb(255, 223, 0);
    color: rgb(10, 156, 98);
    margin: 100% 0 0;
    transition: all 600ms ease 0s;
    padding: 10px 20px;
    border-radius: 3px;
    transition: all 700ms ease 0s;
}

.testimonials-listing-wrap .testimonials:hover a span {
    margin: 30% 0 0;
}

.testimonials-listing-wrap .testimonials a span:hover,
.testimonials-listing-wrap .testimonials a span:focus {
    box-shadow: 0 0 9px 0 rgb(255, 249, 211) inset;
}

.testimonial-detail-wrap {
    background-color: rgb(222, 225, 232);
    padding: 40px 0;
}

.testimonial-detail-wrap .col-xs-12.col-sm-3.col-lg-2 {
    padding-right: 15px;
}

.testimonial-detail-wrap .col-xs-12.col-sm-9.col-lg-10 {
    padding-left: 15px;
}

.user-info-wrap {
    background: rgb(255, 255, 255);
    padding: 20px;
}

.user-info-wrap .comment-user-name {
    margin: 0;
}

.comments {
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 80px;
    position: relative;
    overflow: hidden;
}

.comments:before {
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 60px solid rgba(0, 0, 0, 0);
    border-top: 60px solid rgb(205, 207, 211);
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.8);
    content: "";
}

.comments:after {
    border-bottom: 60px solid rgb(222, 225, 232);
    border-left: 60px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
}

@media(min-width:768px) {
    .testimonial-detail-wrap .col-xs-12.col-sm-3.col-lg-2 {
        padding-right: 0;
    }

    .testimonial-detail-wrap .col-xs-12.col-sm-9.col-lg-10 {
        padding-left: 0;
    }

    .comments {
        padding: 40px 20px 80px 0;
    }

    .user-info-wrap {
        padding: 40px 0 0;
    }
}
/*==============================================================================
==================================End Testimonial=============================
==============================================================================*/

/*==============================================================================
==================================Start Ribbon=============================
==============================================================================*/
.ribbon-wrapper {
  height: 88px;
  left: -6px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  width: 85px;
}
.ribbon-wrapper.special {
  height: 148px;
  width: 150px;
}
.ribbon {
  color: #6a6340;
  font: bold 15px sans-serif;
  left: -28px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 16px;
 -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  width: 120px;
  background: #ffa200;
background: -moz-linear-gradient(top,  #ffa200 0%, #ffbd5b 37%, #ffc575 51%, #ffbd5b 66%, #ffa200 100%, #ffc259 100%);
background: -webkit-linear-gradient(top,  #ffa200 0%,#ffbd5b 37%,#ffc575 51%,#ffbd5b 66%,#ffa200 100%,#ffc259 100%);
background: linear-gradient(to bottom,  #ffa200 0%,#ffbd5b 37%,#ffc575 51%,#ffbd5b 66%,#ffa200 100%,#ffc259 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa200', endColorstr='#ffc259',GradientType=0 );
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #D38B06;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}
.special .ribbon {
  width: 205px;
  top: 46px;
  left: -40px;
  color: #6a6340;
  background: #ffa200;
background: -moz-linear-gradient(top,  #ffa200 0%, #ffbd5b 37%, #ffc575 51%, #ffbd5b 66%, #ffa200 100%, #ffc259 100%);
background: -webkit-linear-gradient(top,  #ffa200 0%,#ffbd5b 37%,#ffc575 51%,#ffbd5b 66%,#ffa200 100%,#ffc259 100%);
background: linear-gradient(to bottom,  #ffa200 0%,#ffbd5b 37%,#ffc575 51%,#ffbd5b 66%,#ffa200 100%,#ffc259 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa200', endColorstr='#ffc259',GradientType=0 );
 
}
.special .ribbon:before, .special .ribbon:after {
  bottom: -3px;
}
/*==============================================================================
==================================End Ribbon=============================
==============================================================================*/