.cost-i {
    font-style: normal;
}
#promotion {
    text-transform: uppercase;
}
label.error {
    color: #df181a;
    font-size: 18px;
    font-weight: normal;
}
input.error {
    border: 1px solid #df181a!important;
}
.deal-price {
    font-size: 13px;
    color: #F15136;
    margin: 0 5px 0 0;
    display: inline-block;
    position: relative;
}

.deal-price::before {
    border: 1px solid;
    content: "";
    height: 41px;
    left: -3px;
    position: absolute;
    top: 2px;
    transform: rotate(-70deg);
    transform-origin: right top 0;
}
.vehicle-info {
    color: #555;
    font-size: 0.8em;
}
#query {
    cursor: pointer;
}